<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Notification Room</title>
</head>
<body style="display: flex;align-items: center;justify-content: center;height: 100vh; flex-direction: column">
    <h1>WS notifications application demo</h1>

    <h3>Login Form</h3>

    <form id="login-form">
        Username: <input id="login-username" type="text" name="username"><br><br>
        Password: <input id="login-password" type="text" name="password"><br><br>
    <button id="login-submit-button" type="submit">login</button>
    </form>

    <h3>Token</h3>
    <textarea disabled id="token-log" cols="100" rows="5"></textarea><br>

    <h3>WS notifications</h3>
    <textarea disabled id="chat-log" cols="100" rows="20"></textarea><br>
    {{ room_name|json_script:"room-name" }}

    <script>
        const form = document.getElementById("login-form");
        const tokenLog = document.getElementById("token-log");
        form.addEventListener("submit", logSubmit);

        function logSubmit(event) {
            let username = document.getElementById("login-username").value
            let password = document.getElementById("login-password").value

            console.log(username)
            console.log(password)

            fetch(
                "http://"+window.location.host+"/api/users/token/",
                {
                    method: "POST",
                    body: JSON.stringify({
                      "username": username,
                      "password": password
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }
            )
            .then((response) => response.json())
            .then((json) => {
                console.log(json.access)
                tokenLog.textContent = `Token received! ${json.access}`;
                ListenWs(json.access)
            })

            tokenLog.textContent = `Form Submitted! Timestamp: ${event.timeStamp}`;
            event.preventDefault();
        }

        function ListenWs(token) {
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/notifications/'
                + roomName
                + '/?token=' + token
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').value += ('Incoming message: ' + e.data + '\n');
                let response = JSON.stringify({
                    'type': 'message_ack',
                    'key': data.key
                })
                chatSocket.send(response);
                document.querySelector('#chat-log').value += ('Outgoing message: ' + response + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
        }

    </script>
</body>
</html>