<!-- chat/templates/chat/room.html -->
{% verbatim %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Демонстрационная страница сервиса нотификаций</title>
        <script src="/api/static/js/vue.global.js"></script>
        <script src="/api/static/js/notifications_page_script.js" type="module"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link
          rel="stylesheet"
          href="/api/static/css/bulma.min.css"
        >
        <link rel="stylesheet" type="text/css" href="/api/static/css/toastify.min.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/api/static/js/toast.js"></script>
    </body>
</html>
{% endverbatim %}
